// Use border-box as the default box sizing method.
*, *::before, *::after { box-sizing: border-box; }

// Adjust the REM measurements for easier translation from pixels to REM.
// (for example: 1.5rem = 15px, 2rem = 20px, …)
html { font-size: 62.5%; }

body {
  // Reset default font-size back to the browser-default, in case body does
  // not overwrite the default size.
  font-size: 160%;
  margin: 0;
}

// Set the default link color to the same as their current context.
a { color: currentColor; }
